{% extends 'base.html'%}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>InstaClown</title>
</head>
<body>
    <p>hi guys, welcome</p>
    <button><a href="{% url 'profile' pk=user.id %}">profile</a></button>
    <!-- <button><a href="/logout">logout</a></button> -->
    <button><a href="{% url 'upload_image' %}">upload image</a></button>
    
    <button></button>
    

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> {% block content %} {{ block.super }}
<div class="container">

    <div class="row">
        {% for image in images %}

        <div class="thumbnail">     
            
            <a href="/profile"> {{ up.username}}</a>

            <img src="{{image.image_image.url}}" alt="Image" style="height:400px; width:500px">



            <span>Posted {{up.pub_date|timesince}} ago </span>
            <br><br><br>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
</body>
</html>